* {
	margin: 0px;
	padding: 0px;
}


body {
	margin-right: 1%;
	background-color: rgba(51, 153, 255, 0.2);
	min-width: 1300px;
}

.header {
	width: 100%;
	position: fixed;
	background: #F7F7F7;
	z-index: 999;
}

.logo {
	width: 0%;
	float: left;
	padding-left: 2%;
	padding-top: 0.25%;
}

.log-car {
	display: inline-block;
	width: 15%;
	margin-left: 2%;
	text-align: center;

}



.top-menu {
	padding-top: 20px;
	position: relative;
}

.menu-bar {
	width: 60%;
	padding top: 20px;
	position: relative;
	display: inline-block;
	z-index: 9999;
	height: auto;
	margin-bottom: 10px;
	margin-left: 5%;
	text-align: center;
	padding-left: 12%;
	float: left;

}

.menu-bar li {
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	position: relative;
	list-style: none;
	text-align: center;
	padding-top: 1.5%;
	padding-left: 5%;
}

.menu-bar a {
	font-weight: bolder;
	font-family: Verdana;
	font-style: normal;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
	display: block;
	text-align: center;
	padding: 9px;
}

.menu-bar a:active,
.menu-bar li:hover > a {
	background-color: #3399ff;
	color:#FFFF;

}

.menu-bar li:hover > ul {
	display: block;
	z-index: 999;
	background-color: #FFFF;
}


.menu-bar li > ul {
	display: none;
}

.menu-bar ul {
	display: none;
	padding: 0px;
	width: 100%;
	position: absolute;
	z-index: 999;
}

.menu-bar ul a:hover {
	color: cornflowerblue;
	background: #FeFeFeFe;
	z-index: 999;
}

.sombreado {
	height: 5px;
	background: rgba(139, 139, 128, 1);
	background: -moz-linear-gradient(top, rgba(139, 139, 128, 1) 0%, rgba(139, 139, 128, 1) 7%, rgba(214, 234, 255, 1) 67%, rgba(214, 234, 255, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139, 139, 128, 1)), color-stop(7%, rgba(139, 139, 128, 1)), color-stop(67%, rgba(214, 234, 255, 1)), color-stop(100%, rgba(214, 234, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(139, 139, 128, 1) 0%, rgba(139, 139, 128, 1) 7%, rgba(214, 234, 255, 1) 67%, rgba(214, 234, 255, 1) 100%);
	background: -o-linear-gradient(top, rgba(139, 139, 128, 1) 0%, rgba(139, 139, 128, 1) 7%, rgba(214, 234, 255, 1) 67%, rgba(214, 234, 255, 1) 100%);
	background: -ms-linear-gradient(top, rgba(139, 139, 128, 1) 0%, rgba(139, 139, 128, 1) 7%, rgba(214, 234, 255, 1) 67%, rgba(214, 234, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(139, 139, 128, 1) 0%, rgba(139, 139, 128, 1) 7%, rgba(214, 234, 255, 1) 67%, rgba(214, 234, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b8b80', endColorstr='#d6eaff', GradientType=0);
	padding-top: 0.2%;
	margin-top: 1%
}


.cuerpo {
	margin-left: 5.5%;
	margin-right: 5.5%;
	position: relative;
}

.cuerpo a {
	text-decoration: none;
	text-align: center;
}

.categorias {
	height: 100%;
	position: inherit;
	padding-top: 10%;
	margin-left: 5.5%;
}

.element {
	margin: 10px;
	border-style: solid;
	height: 25em;
	width: 28%;
	display: inline-block;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #FFFF;
	background-color: #FFFFFF;
	text-align: center;
}

.element:hover {
	-webkit-box-shadow: 0px 0px 47px -5px rgba(102, 0, 204, 1);
	-moz-box-shadow: 0px 0px 47px -5px rgba(102, 0, 204, 1);
	box-shadow: 0px 0px 47px -5px rgba(102, 0, 204, 1);

	background-image: linear-gradient(rgba(102, 0, 204, 0.1),
		rgba(102, 0, 204, 0.1));

}

.element img {
	padding-top: 4%;
	text-align: center;
	width: 300px;
	height: 300px;
}


@supports(object-fit: cover) {
	.box img {
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.element header {
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	font-weight: 400;
	color: #3399ff;
}

.element header:hover {
	color: rgba(102, 0, 204, 1);

}



.bottom {
	margin-left: -7.29%;
	margin-right: -7.29%;
	background: rgba(217, 217, 217, 1);
	background: -moz-linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(182, 182, 178, 1) 1%, rgba(146, 146, 139, 1) 2%, rgba(146, 146, 139, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(217, 217, 217, 1)), color-stop(1%, rgba(182, 182, 178, 1)), color-stop(2%, rgba(146, 146, 139, 1)), color-stop(100%, rgba(146, 146, 139, 1)));
	background: -webkit-linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(182, 182, 178, 1) 1%, rgba(146, 146, 139, 1) 2%, rgba(146, 146, 139, 1) 100%);
	background: -o-linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(182, 182, 178, 1) 1%, rgba(146, 146, 139, 1) 2%, rgba(146, 146, 139, 1) 100%);
	background: -ms-linear-gradient(top, rgba(217, 217, 217, 1) 0%, rgba(182, 182, 178, 1) 1%, rgba(146, 146, 139, 1) 2%, rgba(146, 146, 139, 1) 100%);
	background: linear-gradient(to bottom, rgba(217, 217, 217, 1) 0%, rgba(182, 182, 178, 1) 1%, rgba(146, 146, 139, 1) 2%, rgba(146, 146, 139, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#92928b', GradientType=0);
}

.footer-nav {
	padding-bottom: 1%;
	padding-top: 2%;
	padding-left: 7.29%;
	padding-right: 7.29%;
	width: auto;
	text-align: center;
}

.row {
	display: inline-grid;
	position: relative;
	padding-left: 2.5%;
	padding-right: 2%;
	width: 20%;
}

.row ul {
	list-style: none;
	padding-top: 1%;
	padding-bottom: 1%;
}

.row li:first-child {
	font-size: 20px;
	font-weight: bolder;
	padding-bottom: %;
	color: #2e2e1f;
}

.row li {
	padding: 4%;
	position: inline-block;
	text-align: center;
	font-size: 13px;
}

.row li > a {
	text-decoration: none;
	color: #2e2e1f;
}


.row li > a:hover {
	text-decoration: none;
	font-size: 15px;
	color: #FFFF;
}
