input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color:#3399ff;
    color: white;
    padding: 10px 15px;
    margin: 10px 4px;
    border: none;
    cursor: pointer;
    width: 100%;
    
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color:#6600cc;
    margin-left: -20%
    
}


.imgcontainer {
    text-align: center;
    padding-right: 15%;
    margin-bottom: -4%;
    position: relative;
}

img.avatar {
    padding-left: 18.2%;
    width: 20%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/*  Fondo para el modal*/
.modal {
    max-width: auto;
    display: none;
    /*Evitamos que se muestre hasta el click*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(51, 153, 255);
    /* poner azul */
    background-color: rgb(51, 153, 255,0.4);
    /* poner azul*/
    padding-top: 60px;
}


.modal-content {
    background-color: #fefefe;
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 20%;
    border: 1px solid #888;
    min-width: 300px;
    max-width: 450px;
   
}

/*boton de x de cierre*/
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Animacion de salida del login*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


