.producto {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 14%;
}

.imagen {
    width: 45%;
    background: white;
    float: left;
    text-align: center;
    height:22em;
    margin-bottom: 4%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.descripcion {
    width: 48%;
    background: white;
    margin-left: 50%;
    height: 20.4em;
    padding: 1%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.descripcion header,p {
    padding-bottom: 0.6%;
}

.descripcion header {
    color: #3399ff;
    font-size: 28px;
}

.especificaciones {
    background: white;
    clear: both;
    padding: 4%;
    margin-bottom: 5%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.especificaciones li {
    padding-bottom: 0.3%;
}

.lista {
    padding-left: 3%;
}



/*VALORACIONES*/

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: #6600cc;
}

input[type="radio"]:checked ~ label {
    color: #3399ff;
}

/*QUIENES SOMOS*/

.caja-texto {
    background: white;
    height: 510px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
}

.titulo {
    padding: 2%;
}

.titulo header{
    font-family: Verdana;
    font-size: 30px;
}

.texto p {
    font-family: Verdana;
    padding-bottom: 15px;
    font-size: 20px;
}

/*FILOSOFIA*/
.caja-texto2 {
    background: white;
    height: 650px;
    padding-left: 5.5%;
    padding-right: 5%;
    padding-top: 10%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
}

.titulo2 {
    padding: 2%;
}

.titulo2 b{
    font-family: Verdana;
    padding-bottom: 15px;
    font-size: 20px;
}

.titulo2 header{
    font-family: Verdana;
    font-size: 30px;
}
.texto2 {
    font-family: Verdana;
    font-size: 17px;
}

.texto2 p,b{
    padding-bottom: 2%;
}

.texto2 ul{
    padding-top: 2%;
}

.texto2 li{
    margin-left: 5%;
    padding-bottom: 1.5%;
}

/*CARRITO*/
.caja-carrito{
    background: white;
    height: 650px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    margin: 0;
    border 0;
    
}

.caja-carrito td {
    text-align: center;
    padding-right: 120px;
}

.precio-final p{
    float:left;
    padding-left: 270px;
}

.precio-final button{
    margin-left: 260px;
  
}
