body {
 background-color: rgba(51, 153, 255, 0.2);
font-family: Verdana;
}

h1 {
  text-align: center;  
}


#regForm {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 40px;
  width: 40%;
  min-width: 300px;
}


input {
  padding: 10px;
  width: 90%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* color de la caja cuando los datos introducidos son erroneos */
input.invalid {
  background-color: #ffdddd;
}

/*hacemos que los pasos esten ocultos desde un principio*/
.tab {
  display: none;
}

/* forma y color de los elementos que marcan los pasos */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3399ff;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* modificamos el color cuando el circulo esta activo */
.step.active {
  opacity: 0.75;
}

/* cambiamos el color de los circulos cuando se ha pasado por ellos: */
.step.finish {
  background-color: rgba(102, 0, 204, 0.7);
}

/*Clase para los botones atras y adelante*/
button {
    background-color:#3399ff;
    color: white;
    padding: 10px 15px;
    margin left: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    
}

button:hover {
    opacity: 0.8;
}