.caja-mapa {
    background: white;
    height: 650px;
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important;
}

.mapa{
    float: left;
}

.caja-mapa p {
    padding-left: 45%;
    font-size: 20px;
    line-height: 1.5em;
}

.caja-mapa h1 {
    padding-left: 45%;
    padding-bottom: 5%;
}





